.DS_Store
Thumbs.db
db.json
*.log
node_modules/
public/
.deploy*/
src/_drafts

# PyCharm
.idea
.idea/*
.idea/**/*
.idea/vcs.xml

# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json